<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Basket</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
    <body>
        <div class="text-center" th:insert="fragments/header :: header" >...</div>
        <div class="container">
            <div th:switch="${basket}" class="container my-5">
                <div class="col-md-10">
                    <h2 th:case="null">No products yet!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Type</th>
                                    <th>Amount</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="item : ${basket}">
                                    <td th:text="${item.product.name}"></td>
                                    <td th:text="${item.product.price}"> Br.</td>
                                    <td th:text="${item.product.typeProduct.name}"></td>
                                    <td th:text="${item.amount}"></td>
                                    <td><a th:href="@{/basket/user/delete/{id}(id=${item.product.id})}" class="btn btn-primary"><i class="fas fa-times ml-2"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <div class="footer-copyright text-center py-3">Kovalenko Karina © 2019 Java Summer Training</div>
    </footer>
</html>