<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Products</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    </head>
    <body>
        <div class="text-center" th:insert="fragments/header :: header" >...</div>
        <div class="container">
            <div th:switch="${allProduct}" class="container my-5">
                <div class="col-md-10">
                    <h2 th:case="null">No products yet!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                                <tr class="thead-dark">
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Amount</th>
                                    <th>Buy</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="product: ${allProduct}">
                                    <td th:text="${product.name}"></td>
                                    <td th:text="${product.price}"></td>
                                    <form action="#" method="post" th:action="@{/basket/user/buyProduct/{id}(id=${product.id})}" th:object="${itemBasket}">
                                        <td><input type="text" th:field="*{amount}"  name="amount" id="amount"/></td>
                                        <td><input type="submit" class="btn btn-primary" value="Buy" placeholder="Enter amount products"></td>
                                    </form>
                                    <td><a th:href="@{/products/user/details/{id}(id=${product.id})}" class="btn btn-primary">Details</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <div class="footer-copyright text-center py-3">Kovalenko Karina © 2019 Java Summer Training</div>
    </footer>
</html>