<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/products/user/">Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/products/user/">Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/basket/user/getProductsFromBasket">Basket</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i> Profile</a>
                <div class="dropdown-menu dropdown-menu-right dropdown-default"
                     aria-labelledby="navbarDropdownMenuLink-333">
                    <a class="dropdown-item" href="/account">My account</a>
                    <a class="dropdown-item" href="/logout" method="post">Log out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
</div>