<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Waybill</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
<div class="text-center" th:insert="fragments/adminHeader :: header" >...</div>
<div class="container">
    <div th:switch="${waybill}" class="container my-5">
        <div class="col-md-10">
            <h2 th:case="null">No waybill yet!</h2>
            <div th:case="*">
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr class="thead-dark">
                        <th>Name</th>
                        <th>Price</th>
                        <th>Type</th>
                        <th>Provider</th>
                        <th>Delivery date</th>
                        <th>Amount</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item: ${waybill}">
                        <td th:text="${item.product.name}"></td>
                        <td th:text="${item.product.price}"></td>
                        <td th:text="${item.product.typeProduct.name}"></td>
                        <td th:text="${item.delivery.provider.name}"></td>
                        <td th:text="${item.delivery.dateDelivery}"></td>
                        <td th:text="${item.amount}"></td>
                        <td><a th:href="@{/waybill/edit/{id}(id=${item.id})}" class="btn btn-primary"><i class="fas fa-edit ml-2"></i></a></td>
                        <td><a th:href="@{/waybill/delete/{id}(id=${item.id})}" class="btn btn-primary"><i class="fas fa-times ml-2"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<footer>
    <div class="footer-copyright text-center py-3">Kovalenko Karina © 2019 Java Summer Training</div>
</footer>
</html>