<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
<div class="text-center" th:insert="fragments/header :: header" >...</div>
<div class="container">
    <table class="table table-striped table-responsive-md" th:object="${account}">
        <tbody>
        <tr>
            <td>Username</td><td> [[${#httpServletRequest.remoteUser}]]!</td>
        </tr>
        <tr>
            <td>E-mail</td><td th:text="*{email}"></td>
        </tr>
        <tr >
            <td>Name</td><td th:text="*{name}"></td>
        </tr>
        <tr>
            <td>Surname</td><td th:text="*{surname}"></td>
        </tr>
        <tr>
            <td>Patronymic</td><td th:text="*{patronymic}"></td>
        </tr>
        <tr>
            <td>Birthday</td><td th:text="*{birthday}"></td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/logout}" method="post">
        <input class="btn btn-primary" type="submit" value="Log Out"/>
    </form>
</div>

</body>
<footer>
    <div class="footer-copyright text-center py-3">Kovalenko Karina © 2019 Java Summer Training</div>
</footer>
</html>

